{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>
    Contact US
</h1>
<!-- Contact section form -->
<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
        <form id="contactForm" name="sentMessage" method="post" novalidate="novalidate">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-floating mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                <p class="text-center text-danger mb-3">Error sending message!</p>
                {% endfor %}
            </div>
            {% endfor %}

            <br />
            <div class = "form-group"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button></div>
    </div> 
</div>
<!-- Submit error message-->
<!---->
<!-- This is what your users will see when there is-->
<!-- an error submitting the form-->
<div class="d-none" id="submitErrorMessage">
    <div class="text-center text-danger mb-3">Error sending message!</div>
</div>
<!-- Submit Button-->
</form>
</div>
</div>
</div>
</section>

{% endblock %}